@media only screen and (max-width:1025px) {

    /*####################################### Mobile Style ###################################################################*/
    .Menu {
        width: 160px;
        float: right;
        display: table-cell;
        margin: 0px;
        overflow: none;
        text-align: center;
    }

    .MenuItem {
        background-color: transparent;
        text-align: center;
        display: block;
    }

    .MenuItem a {
        color: rgb(69, 92, 92);
        text-align: center;
        padding-top: 7px;
        padding-bottom: 7px;
        text-decoration: none;
        font-size: 12pt;
        font-weight: bold;
        display: block;
        border-bottom: 1px solid #2a3535;
    }

    .MenuItem a:hover {
        background-color: #2a3535;
        color: white;
    }

    .MenuItem :hover+.SubMenu {
        display: grid;
        margin-top: -35px;
        right: 160px;
    }

    .SubMenu {
        background-color: #2a3535;
        width: fit-content;
        display: none;
        text-align: center;
        color: white;
        position: absolute;
    }

    .SubMenu a {
        background-color: #2a3535;
        padding-left: 3px;
        padding-right: 3px;
        border-bottom: 1px solid white;
        color: white;
    }

    .MenuItem .SubMenu:hover {
        display: grid;
        margin-top: -35px;
        right: 160px;
    }

}

/*####################################### DeskTop Style ###################################################################*/
@media (min-width: 1026px) {

    .Menu {
        background-color: transparent;
        padding-top: 10px;
        overflow: none;
    }

    .MenuItem {
        background-color: transparent;
        float: left;
        text-align: center;
        display: block;
    }

    .MenuItem a {
        float: left;
        color: #2a3535;
        text-align: center;
        padding-left: 7px;
        padding-right: 7px;
        text-decoration: none;
        font-weight: bold;
        border-right: 1px solid #2a3535;
    }

    .MenuItem a:hover {
        background-color: #2a3535;
        color: white;
    }

    .MenuItem :hover+.SubMenu {
        display: grid;
        margin-top: 25px;
    }

    .SubMenu {
        background-color: #faf8f7;
        width: fit-content;
        display: none;
        position: absolute;
    }

    .SubMenu .MenuItem a {
        width: 100%;
        border-bottom: 1px solid #2a3535;
        text-align: left;
    }

    .MenuItem .SubMenu:hover {
        display: grid;
        margin-top: 25px;
    }
}